
.box{
  display: flex;
  justify-content: center;
}
.boarder{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
  
}
.square{
  border:1px solid black;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header1{
  text-align: center;
}